<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Preferences Count</h1>
        <h2>Drinks</h2>
        <ul>
            <% for(let drink in count.drinks) { %>
                <li><%= drink %>: <%= count.drinks[drink] %></li>
            <% } %>
        </ul>

        <h2>Snacks</h2>
        <ul>
            <% for(let snack in count.snacks) { %>
                <li><%= snack %>: <%= count.snacks[snack] %></li>
            <% } %>
        </ul>
        <a href="/">Go Back</a>
    </div>
</body>
</html>
